.statsHeader {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background-color: #0a0a0a;
  border: 5px solid white;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  margin: 0 !important;
}

.table {
  margin: 0 !important;
  border: 5px solid white;
  border-radius: 0 0 20px 20px;
  padding: 5px 0 5px 70px;
  font-size: 15px;
  background-color: #0a0a0a;
  color: white;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  /* justify-content: center; */
  /* align-items: center; */
}
.stats,
.tableHeadings {
  display: contents;
}

.line {
  background-color: aliceblue;
  width: 870px;
  height: 2px;
  grid-column: 1 / -1;
  align-self: stretch;
}
